
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: Indie Flower;
	color: #000000;
	background: linear-gradient(-45deg, #D3D4D6, #FAFBFC, #D8E4FF, #F4F7FC);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html,body{

	height:100%;
	width:100%;
	position:relative;
	overflow: auto;
}
h1{
	text-align: center;
	color: #3c3c3c;
	font-size: 400%;
	font-family: "Book Antiqua", fantasy;
}
h2{
	text-align: center;
	font-size: 200%;
	color: #3c3c3c;
	font-family: "Book Antiqua", fantasy;
}
nav{
	text-align: center;
}
form{
	text-align: center;
	padding-bottom: 8px;
	padding-top: 8px;
	size: 50px;
}
header {
	background-image: url("img/cr7_logo.png") ;
	background-repeat: repeat-x;
}
.header{

}

/* buttons

 */
.myButton0 {
	box-shadow: 0px 1px 0px 0px #9fb4f2;
	background: #2d6cff linear-gradient(to bottom, #2d6cff 5%, #07173d 100%);
	border-radius:15px;
	border:2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Times New Roman, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	margin: 20px;
}
.myButton0:hover {
	background: #07173d linear-gradient(to bottom, #07173d 5%, #2d6cff 100%);
}
.myButton0:active {
	position:relative;
	top:1px;
}

.myButton1 {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background: #2d6cff linear-gradient(to bottom, #2d6cff 5%, #e8ebf2 100%);
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#0d1321;
	font-family: Times New Roman, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 20px;
}
.myButton1:hover {
	background: #e8ebf2 linear-gradient(to bottom, #e8ebf2 5%, #2d6cff 100%);
}
.myButton1:active {
	position:relative;
	top:1px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	margin: 20px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.buttons{
	text-align: center;
}

/*buttons end

 */
.info {
	width: 45%;
	float: left;
	padding: 15px;
	margin: 20px;
	background: #F7F7F7;
	font: 120% Arial, Helvetica, sans-serif;

}

.vid {
     border: 5px;
     width: 45%;
     float: left;
     padding: 15px;
     margin-right: 20px;

 }
.vid-gal {
    border: 5px;
    width: 45%;
    float: right;
    padding: 15px;
    margin-right: 20px;

}
@media  {
	
}
.intro{


}
li{
	padding: 25px;
	font-family: "Book Antiqua", fantasy;
	color: #3c3c3c;
	text-align: left;
	list-style-position: inside;

}


/* contact email styles

 */
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 600px;
	min-height: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
	color: #0d1321;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 15%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 5%;
	background: #2D6CFF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2D6CFF;
}


/*gallery

 */

:root{
	--width: 100%;
	--height: 100%;
	--border-width: 200px;
	--border-height: 200px;

}



.gallery{
	position:relative;
	height:100%;
	width:100%;
}

.gallery:after{
	content:'';
}

.shadow{
	position: absolute;
	top: 500px;
	left: 100px;
	width: 500px;
	height: 40px;
	border-radius: 50%;
	background: radial-gradient(#805d78,rgba(0,0,0,0) 70%);
}

img{
	width:var(--width);
	height:var(--height);
}

.clipped-border{
	-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	padding:5px;
	background:linear-gradient(lightblue,darkblue);
	width:var(--border-width);
	height:var(--border-height);
	max-height:250px;
	max-width:250px;
	height: var(--height);
	width:var(--width);
	transition:transform 0.2s;
	position:absolute;
	cursor:pointer;
}



.clipped-border:before{
	content:'';
	position:absolute;
	opacity:0.5;
	width:350px;
	height:70px;
	background:white;
	top:0;
	left:0;
	z-index:1;
	transform:rotate(45deg);
	transition:transform 0.5s;
}

.clipped-border:hover:before{
	transform: translate(-100px,400%) rotate(45deg);
	transition:transform 0.5s;
}

.clipped-border:nth-child(2){
	top:196px;
	left:118px;
}

.clipped-border:nth-child(3){
	top:0;
	left:235px;
}

.clipped-border:nth-child(4){
	top:196px;
	left:353px;
}

.clipped-border:nth-child(5){
	top:0;
	left:470px;
}

#clipped {
	-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

}

.clipped-border:hover{
	transform:scale(1.2);
	transition:transform 0.2s;
	z-index:10;
}

/* lightbox

 */
.col {
	float: left;
	width: 25%;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding: 10px 62px 0px 62px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0 0 0 0;
	width: 80%;
	max-width: 1200px;
}


.slide {
	display: none;
}

.image-slide {
	width: 100%;
}

.modal-preview {
	width: 100%;
}

.dots {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



img.preview, img.modal-preview {
	opacity: 0.6;
}

img.active,
.preview:hover,
.modal-preview:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.close {
	color: white;
	position: relative;
	top: 10px;
	left: 35px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.previous,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}



/* quiz

 */
.form-style-2{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 600px;
	min-height: 600px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}

.form-style-2 input[type="text"],
.form-style-2 input[type="date"],
.form-style-2 input[type="datetime"],
.form-style-2 input[type="email"],
.form-style-2 input[type="number"],
.form-style-2 input[type="search"],
.form-style-2 input[type="time"],
.form-style-2 input[type="url"],
.form-style-2 textarea,
.form-style-2 select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 5%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-2 input[type="text"]:focus,
.form-style-2 input[type="date"]:focus,
.form-style-2 input[type="datetime"]:focus,
.form-style-2 input[type="email"]:focus,
.form-style-2 input[type="number"]:focus,
.form-style-2 input[type="search"]:focus,
.form-style-2 input[type="time"]:focus,
.form-style-2 input[type="url"]:focus,
.form-style-2 textarea:focus,
.form-style-2 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 15%;
	border: 1px solid #43D1AF;
}

.form-style-2 input[type="submit"],
.form-style-2 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 5%;
	background: #2D6CFF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form-style-2 input[type="submit"]:hover,
.form-style-2 input[type="button"]:hover{
	background: #2D6CFF;
}